
<div class="page-container">
  <div class="btn btn-info">
<%=link_to "Add a Chicken to rent", new_chicken_path %>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548550035-dd30af4ced74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)";>
  <div class="container">
    <h3>Find a Chicken Near You!</strong>!</h3>
    <p>Get premium eggs and a fluffy friend.</p>
  </div>
</div>


<div class="card-container" style="card w-50">
  <% @chickens.each do |chicken| %>
  <div class="card-product">
    <div class="card-pic-rating">
      <div class="chicken-image" style="rounded">
      <% if chicken.photo_url %>
        <image src="<%= (chicken.photo_url)%>">
      <% else %>
        <image src="https://i.guim.co.uk/img/media/30646649ad38eca6e8ddd6108af6de13e43117a4/475_196_4518_3323/master/4518.jpg?width=620&quality=85&auto=format&fit=max&s=02a090a0165f18d45705558a2a7d4d1b">
      <% end %>
    </div>
    <ul>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </ul>
    </div>


  <div class="card-product-infos w-50">
    <h5 class="card-title"><%=chicken.name %></h5>
    <p class="card-text"><%=chicken.description %></p>
    <div class="btn btn-info">
<%=link_to "View Me", new_chicken_path %>
</div>
  </div>
  </div>
  <% end %>
</div>


</div>

