<div class = "container mt-5">
  <div class = "justify-content-center row">
    <div class = "col-6">
       <h2>Add a chicken</h2>
<%= simple_form_for(@chicken) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :age %>
  <%= f.input :location %>
  <%= f.input :breed, collection: Chicken::BREEDS %>
  <%= f.input :egg_size, collection: Chicken::SIZES %>
  <%= f.input :daily_rate %>
  <%= f.label "Profile Photo" %>
  <%= f.file_field :avatar %>
  <%= f.submit "DONE!"%>
<% end %>
    </div>
  </div>
</div>
