<h2>New Booking with <%= @chicken.name %></h2>

<!-- Display total price -->

<%= simple_form_for [@chicken, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, "Book #{@chicken.name}" %>
<% end %>

<%= link_to 'Back to Chickens', chicken_path(@chicken) %>