<h2>New Booking</h2>

<h4>Book with <%= @chicken.name %>!</h4>

<!-- Display total price -->

<%= simple_form_for [@chicken, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Cancel Booking', chicken_path(@chicken) %>