<h2>Your booking with <%= @booking.chicken.name %>.</h2>

<p>Booked from <%= @booking.start_date %> to <%= @booking.end_date %></p>

<%= link_to 'Back to chickens', chickens_path %>

<%= link_to "Cancel booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure you want to cancel your booking?" } %>

