<h2>Your booking with <%= @booking.chicken.name %>.</h2>

<p>You have <%= (@booking.end_date - @booking.start_date).to_i %> days booked from <%= @booking.start_date %> to <%= @booking.end_date %></p>

<p>Total booking price: $<%= @booking.price %>.00 AUD </p>

<%= link_to 'Leave a Review', new_booking_review_path %>
<%= link_to 'Back to chickens', chickens_path %>

<%= link_to "Cancel booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure you want to cancel your booking?" } %>

